In [3]:
# Import the required libraries and dependencies
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [4]:
# Load the environment variables from the .env file
#by calling the load_dotenv function
load_dotenv()

True

In [6]:
# API Call endpoint URLs for ETFs
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=USD"
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=USD"

In [7]:
# Make and API call
eth_response = requests.get(eth_url).json()


# Use the json.dumps function to review the response data from the API call
print(json.dumps(eth_response, indent =4, sort_keys = True))

{
    "data": {
        "1027": {
            "circulating_supply": 117039667,
            "id": 1027,
            "last_updated": 1628551761,
            "max_supply": 0,
            "name": "Ethereum",
            "quotes": {
                "USD": {
                    "market_cap": 363242219000,
                    "percent_change_1h": 1.90237557658845,
                    "percent_change_24h": 3.91502783259313,
                    "percent_change_7d": 23.914748472109,
                    "percentage_change_1h": 1.90237557658845,
                    "percentage_change_24h": 3.91502783259313,
                    "percentage_change_7d": 23.914748472109,
                    "price": 3166.53,
                    "volume_24h": 38707117432
                }
            },
            "rank": 2,
            "symbol": "ETH",
            "total_supply": 117039667,
            "website_slug": "ethereum"
        }
    },
    "metadata": {
        "error": null,
        "num_cryptocurrencies": 3105,
        "timestamp": 1628551761
    }
}

In [8]:
# Make and API call
btc_response = requests.get(btc_url).json()


# Use the json.dumps function to review the response data from the API call
print(json.dumps(btc_response, indent =4, sort_keys = True))

{
    "data": {
        "1": {
            "circulating_supply": 18781331,
            "id": 1,
            "last_updated": 1628551758,
            "max_supply": 21000000,
            "name": "Bitcoin",
            "quotes": {
                "USD": {
                    "market_cap": 861862844506,
                    "percent_change_1h": 1.07252729592646,
                    "percent_change_24h": 4.87814764509934,
                    "percent_change_7d": 16.1358181530434,
                    "percentage_change_1h": 1.07252729592646,
                    "percentage_change_24h": 4.87814764509934,
                    "percentage_change_7d": 16.1358181530434,
                    "price": 46355.0,
                    "volume_24h": 43141805557
                }
            },
            "rank": 1,
            "symbol": "BTC",
            "total_supply": 18781331,
            "website_slug": "bitcoin"
        }
    },
    "metadata": {
        "error": null,
        "num_cryptocurrencies": 3105,
        "timestamp": 1628551758
    }
}

In [12]:
# Set the variables for the Alpaca API and secret keys
#alpaca_api_key = os.getenv("ALPACA_API_KEY")
#alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

alpaca_api_key='PKKD2OWSYBJFT1YTBFGX'
alpaca_secret_key='gIKhc3hNwLrNti6VvFC7gIz6y2jmWdjRzhKeC9F4'

# Create the Alpaca tradeapi.REST object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [14]:
#Set start and end date for the API calls
start_date = pd.Timestamp('2018-08-01', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2021-08-01', tz='America/New_York').isoformat()

In [15]:
#Create "ticker"" variable as SPY for comparison
#Make timeframe 1D
#Store SPY data as a dataframe
ticker =["SPY"]
timeframe = "1D"
spy_df = alpaca.get_barset(
    ticker,
    timeframe,
    start = start_date,
    limit=1000
).df

spy_df.head()

                              SPY
                             open     high     low    close    volume
time
2017-08-18 00:00:00-04:00  242.90  244.189  242.20  242.690  85934699
2017-08-21 00:00:00-04:00  242.64  243.200  241.83  242.930  47802190
2017-08-22 00:00:00-04:00  243.58  245.620  243.55  245.400  49424448
2017-08-23 00:00:00-04:00  244.35  245.050  244.16  244.538  33779990
2017-08-24 00:00:00-04:00  245.00  245.180  243.75  244.030  40579279

In [16]:
#Create "ticker"" variable as GLD for comparison
#Make timeframe 1D
#Store SPY data as a dataframe
ticker =["GLD"]
timeframe = "1D"
gld_df = alpaca.get_barset(
    ticker,
    timeframe,
    start = start_date,
    limit=1000
).df

gld_df.head()

                              GLD
                             open     high     low   close    volume
time
2017-08-18 00:00:00-04:00  123.36  123.540  122.00  122.27  11628518
2017-08-21 00:00:00-04:00  122.54  122.981  122.50  122.77   4573436
2017-08-22 00:00:00-04:00  122.56  122.560  121.85  122.21   4272199
2017-08-23 00:00:00-04:00  122.58  122.690  122.31  122.66   2859023
2017-08-24 00:00:00-04:00  122.39  122.640  122.13  122.27   2914808

In [17]:
#Create "ticker"" variable as SLV for comparison
#Make timeframe 1D
#Store SPY data as a dataframe
ticker =["SLV"]
timeframe = "1D"
slv_df = alpaca.get_barset(
    ticker,
    timeframe,
    start = start_date,
    limit=1000
).df

slv_df.head()

                             SLV
                            open   high    low  close   volume
time
2017-08-18 00:00:00-04:00  16.21  16.24  16.04  16.09  8305615
2017-08-21 00:00:00-04:00  16.12  16.19  16.05  16.06  4824668
2017-08-22 00:00:00-04:00  16.14  16.16  15.95  16.06  4401016
2017-08-23 00:00:00-04:00  16.12  16.16  16.04  16.14  3059419
2017-08-24 00:00:00-04:00  16.04  16.08  15.95  16.02  3841107